.draggableBox {
    position: absolute;
    width: 80px; height: 60px;
    padding-top: 10px;
    top:0px;left:0px;
    text-align: center;
    font-size: 40px;
    background-color: #222;
    color: #CCC;
    cursor: move;
}